
	<div class="container">
		<div class="row">
		<!-- <h1>ようこそ、渋幕コンピューター同好会公式SNSへ!!</h1> -->
			<% if user_signed_in? %>
				<h1><%= @user.name %>さん </h1>
				<b><%= grade(@user.grade) %></b>
			<% else %>
				<h1>Welcome to SMCC.</h1>
				<h2>ログインか新規登録をしてください。</h2>
			<% end %>
		</div>
		<br>
		
		<% if user_signed_in? %>
			<div class="row">
				<div class="col-md-6">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 style="margin:0;">部誌</h3>
						</div>
						<div class="panel-body">

							<%= render 'layouts/record_single' %>
						</div>
					</div>
				</div>

				<%= render 'layouts/record_form' %>

			</div>
		<% end %>
	</div>
