<% @user.each do |u| %>
	<div class="row">
		<div class="col-md-1"><%= gravatar_for(u) %></div>
		<div class="col-md-11">
			<h3><%= u.name %></h3>
			<h2><%= grade(u.grade) %></h2>
		</div>
	</div>
	
	<div class="page-header" style="margin:0"></div>
<% end %>