<div class="col-md-6">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 style="margin:0;">部誌を書く</h2>
		</div>
		<div class="panel-body">
			<%= form_for Record.new do |r| %>
				<form class="form-horizontal" role="form">

					<div class="form-group">
						<%= r.text_area :record_text, autofocus:true, placeholder: '今日の部誌を書こう！', :class=>'form-control' %>
						</div>
						<br>
						<%= r.submit "投稿！", :class=>'btn btn-info btn-lg btn-block'%>

				</form>
			<% end %>
		</div>
	</div>
</div>